.title {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 2;
  h1 {
    display: inline-block;
  }
}

@media screen and (max-width: 599px) {
  .title {
    line-height: 1;
    margin: 18px 0;
    h1 {
      display: block;
    }
  }
}