header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 17%;
  position: sticky;
  logo {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 1799px) {
  header {
    padding: 36px 72px;
  }
}

@media screen and (max-width: 1199px) {
  header {
    padding: 36px;
  }
}

@media screen and (max-width: 599px) {
  header {
    padding: 18px;
  }   
}
